<div id='container' ng-controller='LinksController'>
  <!-- Your html here -->
  <h1>Here Are Your Links</h1>
  <ul class="navigation">
  <li><a ng-href="#/links" class="navigation">All Links</a></li>
  <li><a ng-href="#/{{shortenPath}}" class="navigation">Shorten</a></li>
  <li><a href="#/signout" class="navigation" ng-click="signOut()">Log Out</a></li>
  </ul>
  <hr>
  <div>
    <form name="searchForm" ng-submit='filterLink()'>

    <input type='text' ng-model='searchUrl' ng-change="" placeholder="filter"></input>
    <!-- <button>Filter</button> -->
  </form>
  </div>
  <div class='link' ng-repeat="link in data.links | filter: searchUrl | orderBy: 'visits' : true">
    <img src='./assets/redirect_icon.png'/>
    <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
    <div class='title'>{{link.title}}</div>
    <div class='original'>{{link.url}}</div>
    <a href='{{link.base_url}}/{{link.code}}'>{{link.base_url}}/{{link.code}}</a>
</div>
